<div class="modal" id="consentModal" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Согласие на обработку персональных данных</h5>
      </div>
      <div class="modal-body">
        <p>Для дальнейшей работы необходимо дать согласие на обработку персональных данных.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="consense_sure()">Я согласен на обработку персональных данных</button>
      </div>
    </div>
  </div>
</div>