<title>Согласие на обработку личных данных</title>
<h5>СОГЛАСИЕ НА ОБРАБОТКУ ПЕРСОНАЛЬНЫХ ДАННЫХ</h5>
<p>Заполняя данную анкету и проходя дальнейшие собеседования (интервью), свободно, по своей воле и в своем интересе я даю ООО «ЕКТ Компани» УНП 193501983, адрес: 220053, г. Минск, ул. Будславская, д. 29, пом. 208, (далее именуемое – Оператор), согласие на обработку моих персональных данных, собираемых по средствам анкетирования:</p>
<ul>
    <li>фамилию, имя, отчество (а также все предыдущие фамилии);</li>
    <li>дату и место рождения;</li>
    <li>гражданство;</li>
    <li>паспортные данные или данные иного документа, удостоверяющего личность (серия, номер, дата выдачи, наименование органа, выдавшего документ, и др.);</li>
    <li>пол;</li>
    <li>сведения о семейном положении и составе семьи с указанием фамилий, имен и отчеств членов семьи, даты рождения, места работы и/или учебы;</li>
    <li>сведения о регистрации по месту жительства (включая адрес, дату регистрации);</li>
    <li>сведения о месте фактического проживания;</li>
    <li>данные об образовании, повышении квалификации и профессиональной переподготовке, ученой степени, ученом звании;</li>
    <li>сведения о трудовой деятельности (включая стаж и опыт работы, данные о занятости с указанием должности, подразделения, сведений о работодателе и др.);</li>
    <li>специальность, профессию, квалификацию;</li>
    <li>сведения о воинском учете;</li>
    <li>сведения медицинского характера, исключительно в случаях, предусмотренных законодательством;</li>
    <li>биометрические персональные данные (включая фотографии, изображения с камер видеонаблюдения, записи голоса);</li>
    <li>контактные данные (включая номера домашнего и/или мобильного телефона, электронной почты и др.);</li>
    <li>сведения о награждениях и поощрениях;</li>
    <li>сведения, предоставленные самим кандидатом в ходе заполнения личностных опросников;</li>
    <li>данные личностных опросников, включая прохождение теста ФАИСОМ-лаборатории;</li>
    <li>иные данные, которые могут быть указаны мной в резюме или анкете кандидата.</li>
</ul>
<p>Настоящее согласие дается на совершение Оператором любых действий (операций) или совокупности действий (операций), включая: сбор, запись, систематизацию, накопление, хранение, уточнение, извлечение, использование, обезличивание, блокирование, удаление, уничтожение персональных данных, совершаемые любыми способами, как с использованием средств автоматизации, так и без их использования, в том числе путем внесения в информационные системы персональных данных Оператора.</p>
Обработка моих персональных данных осуществляется в следующих целях:
<ul>
    <li>предоставление обратной связи на отклик на вакансию либо размещенную заявку о поиске работы (резюме) через сайт www.rabota.by ;</li>
    <li>замещение имеющихся у Оператора вакантных должностей, проверки соответствия квалификации субъекта имеющимся у Оператора вакансиям, рассмотрение вопроса о возможности заключения между Оператором и субъектом трудового договора, ведение кадрового резерва (базы кандидатов);</li>
    <li>проверки кандидатов (опыта работы, достоверности указанных данных);</li>
    <li>коммуникации по полученной заявке и (или) запросу.</li>
</ul>
<p>Настоящее Согласие вступает в силу с момента его предоставления и действует в течение всего срока рассмотрения кандидатуры Субъекта на замещение имеющихся у Оператора вакантных должностей до момента заключения трудового договора и (или) в течение трех лет с даты получения настоящего согласия. На протяжении данного срока Оператор вправе обрабатывать мои персональные данные, указанные в настоящем согласии.</p>
