<div class="table-responsive">
  <div class="table-wrapper">
    <div class="table-title">
      <div class="row">
        <div class="col-sm-11"><h5>Близкие <b>РОДСТВЕННИКИ</b> *</h5></div>
        <div class="col-sm-1">
          <button type="button" class="btn btn-success " style="border-radius: 20px"><i class="fa fa-plus" onclick="return add_relatives_table_new_row()"></i></button>
        </div>
      </div>
    </div>
    <div class="table_content" id="relatives_content" hidden><%= @candidate[:relatives].to_json %></div>
    <table class="table table-bordered table-responsive" id="candidate_relatives">
      <thead>
      <tr>
        <th scope="col">Степень родства</th>
        <th scope="col">Фамилия, Имя, Отчетство</th>
        <th scope="col">Дата рождения</th>
        <th scope="col">Место работы, должность</th>
        <th scope="col">Адрес места жительства</th>
        <th scope="col"></th>
      </tr>
      </thead>
      <tbody id="relatives_rows">

      </tbody>
    </table>
  </div>
</div>
